{% extends 'static\blog\base.html' %}
{% load static%}
{% block main_content %}
     <!-- Page Header-->
     <header class="masthead" style="background-image: url('Blog-FinalCoder-Django-Castro\static\blog\assets\img\home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <span class="subheading">{{mensaje}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
<div class="container px-4 px-lg-5">
 <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
    {% for article in object_list %}
    <div class="post-preview">
        <h2 class="post-title">{{article.titulo}}</h2>
        <h3 class="post-subtitle">{{article.abstract}}</h3>
        <p class="post-meta">{{article.creado}}</p>
        <p>
            <button type="button" class="btn btn-primary"><a href="{% url 'Detail' article.id %}" style="color:white; text-decoration:none;">Leer. Más</a></button>
            {% if user.is_superuser %}
            <button type="button" class="btn btn-primary"><a href="{% url 'Detail' article.id %}" style="color:white; text-decoration:none;">Editar</a></button>
            <button type="button" class="btn btn-primary"><a href="{% url 'Detail' article.id %}" style="color:white; text-decoration:none;">Borrar</a></button>
            {% endif %}
        </p>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock main_content %}