<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <form id="post-form" method="POST" action="revision">
        {% csrf_token %}
        <label>Nombre de la sala</label>
        <input type="text" name="nombre_sala" id="nombre_sala" width="100px"/>
        <label>Nombre de Usuario</label>
        <input type="text" name="usuario" id="usuario" width="100px"/>
        <input type="submit" value="Entrar a la sala">
    </form>
</body>
</html>