{% extends 'static\blog\base.html' %}
{% load static%}
{% block main_content %}
<header class="masthead" style="background-image: url('Blog-FinalCoder-Django-Castro\static\blog\assets\img\home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading">{{mensaje}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <form id="post-form" method="POST" action="revision">
        {% csrf_token %}
        <label>Nombre de la sala</label>
        <input type="text" name="nombre_sala" id="nombre_sala" width="100px"/>
        <label>Nombre de Usuario</label>
        <input type="text" name="usuario" id="usuario" width="100px"/>
        <input type="submit" value="Entrar a la sala">
    </form>
</body>
{% endblock main_content %}
</html>