{% extends 'static\blog\base.html' %}
{% load static%}
{% block main_content %}
<header class="masthead" style="background-image: url('https://i.ytimg.com/vi/_ITiwPMUzho/maxresdefault.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Sala</h1>
                    <h2>{{sala.nombre}}</h2>
                    <span class="subheading">{{mensaje}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <h2>{{sala}}</h2>
    <div id="display">

    </div>
    <script>
        $(document).ready(function(){
        
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/getmensajes/{{Sala}}/",
                success: function(response){
                    console.log(response);
                    $("#display").empty();
                    for (var key in response.messages)
                    {
                        var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                        $("#display").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },1000);
        })
        </script>
    <form id="post-form">
        {% csrf_token %}
        <input type="hidden" name="usuario" id="usuario" value="{{usuario}}"/>
        <input type="hidden" name="sala_id" id="sala_id" value="{{Detalle_Sala.id}}"/>
        <input type="text" name="mensaje" id="mensaje" width="100px"/>
        <input type="submit" value="send" class="btn btn-primary">
    </form>

</body>
{% endblock main_content %}
<script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
  
      $.ajax({
        type:'POST',
        url:'/send',
        data:{
            username:$('#usuario').val(),
            sala_id:$('#sala_id').val(),
            mensaje:$('#mensaje').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data){
           alert(data)
        }
      });
      document.getElementById('mensaje').value = ''
    });
  </script>
</html>