{% extends 'static\blog\base.html' %}
{% load static%}
{% block main_content %}
<header class="masthead" style="background-image: url('https://images5.alphacoders.com/100/thumb-1920-1000939.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading">{{mensaje}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container px-4 px-lg-5" style="margin: 50px auto;">
    <form method="post">
        {% csrf_token%}
        <p>¿Estas seguro que quieres borrar el articulo "{{object}}"?</p>
        <input type="submit" value="Confirmar" class="btn btn-primary">
    </form>
</div>
</body>
{% endblock main_content %}
</html>