{% extends 'static\blog\base.html' %}
{% load static%}
{% block main_content %}
<header class="masthead" style="background-image: url('https://i.blogs.es/f2ba32/wallpapers-abduzeedo/1366_2000.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Editar</h1>
                    <h2>{{article.titulo}}</h2>
                    <span class="subheading">{{mensaje}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container px-4 px-lg-5">

        <form method="POST" style="margin-left: 10%;">
            {% csrf_token%}
            {{ form.as_p}}
            <input type="submit" value="Editar/Publicar">
        </form>

    </div>
</body>
{% endblock main_content %}
</html>       